controller:
  type: daemonset

config:
  logs:
    configs:
      - name: kubernetes-logs
        clients:
          - url: http://loki-gateway.logging.svc.cluster.local/loki/api/v1/push
        scrape_configs:
          - job_name: kubernetes-pods
            pipeline_stages:
              - docker: {}
            kubernetes_sd_configs:
              - role: pod
